@import "/src/styles.scss";

header {
  position: relative;

  button {
    // position: absolute;
    // top: 0;
    // right: 0;
    height: 10%;
    width: 10%;
    padding: 0;
    margin: 0;
    border-radius: 50%;

    img {
      width: 10%;
      // height: 100%;
    }
  }
}

main {
  position: relative;

  #debug {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 33%;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    button {
      margin: 1%;
      padding: 1%;
      border: 1px solid $medium;
      background-color: darken($medium, 10%);
      color: $light;
      font-size: 2vmax;
    }

    #debug-startButton {
      background-color: $success;
      color: $dark;
    }

    #debug-endButton {
      background-color: $danger;
    }
  }

  #game {
    position: relative;
    height: 32vmax;
    width: 32vmax;
    background-color: $medium !important;
    display: inline-flex;
    // cursor: none;
    // cursor: url("../assets/SVGs/xhair.svg"), auto; //!DEBUG
    border: 10px solid lighten($medium, 10%);

    #life {
      position: absolute;
      top: 98%;
      left: 0;
      height: 2%;
      // width: 100%;
      background-color: $danger;
      z-index: 1;
      transition: 250ms all;
    }

    #level {
      position: absolute;
      top: 33%;
      left: 42%;
      font-size: 3vmax;
      height: 5vmax;
      width: 5vmax;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1%;
      border-radius: 50%;
      background-color: $dark;
      color: $success;
      z-index: 1;
      transition: 250ms all;
    }

    #kills {
      position: absolute;
      top: 33%;
      left: 10%;
      font-size: 3vmax;
      height: 5vmax;
      width: 5vmax;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1%;
      border-radius: 50%;
      background-color: $danger;
      color: $light;
      z-index: 1;
      transition: 250ms all;
    }

    #coins {
      position: absolute;
      top: 33%;
      left: 75%;
      font-size: 3vmax;
      height: 5vmax;
      width: 5vmax;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1%;
      border-radius: 50%;
      background-color: $warning;
      color: $dark;
      z-index: 1;
      transition: 250ms all;
    }

    #startButton {
      position: absolute;
      top: 35%;
      left: 35%;
      height: 10vmax;
      width: 10vmax;
      border-radius: 50%;
      border: 5px solid $danger;
      background-color: $success;
      font-size: 2.5vmax;
      z-index: 2;
      transition: 250ms all;
      user-select: none;
    }

    #xhair {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 2vmax;
      width: 2vmax;
      border-radius: 50%;
      z-index: 2;
      pointer-events: none;
    }

    .target {
      position: absolute;
      height: 2vmax;
      width: 2vmax;
      padding: 1%;
      border-radius: 50%;
      background-color: $danger;
      z-index: 1;
      transition: 250ms all;
      user-select: none;
    }
  }
}

footer {
  #heart {
    color: $danger;
  }
}
